/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Form container */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

/* Heading */
h2 {
   
    margin-bottom: 80px;
    color: #333;
}
h2{
    text-align: justify;
    padding-bottom: 150px;
    

}

/* Input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 15px;
}

/* Button */
button {
    width: 95%;
    padding: 10px;
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Link */
a {
    display:contents;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    text-align: end;
    
}

a:hover {
    text-decoration: underline;
}